{% extends 'base.html.twig' %}

{% block title 'Créer votre compte' %}

{% block body %}
    <div class="container mt-4">
        <h1>Bienvenue</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}

        <button class="btn btn-success">Sauvegarder</button>
        {{ form_end(form) }}
    </div>

{% endblock  %}
