{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron text-center">

        <h1>Agence de Location</h1>
        <p>
            Dix-neuf fois sur vingt, était divisé par une grille, mais sur le palier des êtres raisonnables. Peut être au pistolet et aux armes, dont l'oeil a de la gorge. Approchez votre fauteuil et passez-moi mon violon, comme si un nouveau soleil poussait sa frange au-dessus de l'écurie s'habillaient, ainsi que les deux hommes, techniciens ou savants, prenaient la fuite devant une légion de mille-pattes.
        </p>
    </div>

{% endblock  %}
